{% extends 'base_generic.html' %}

{% block content %}
    <h1>Name:{{ author.first_name }}&nbsp;{{ author.last_name }}</h1>
    
    <p>{{ author.date_of_birth }} &nbsp; - &nbsp; {{ author.date_of_death }}</p>
    
    <h4>publications</h4>
    {% for book in author.book_set.all %}
    <hr>
    <h5><a href='{{ book.get_absolute_url }}'>{{ book.title}}</a></h5> 
    <p><strong>summary</strong>:{{ book.summary }}</p>
    <p><strong>ISBN</strong>:{{ book.isbn }}</p>
    <p><strong>genre</strong>:{{ book.genre }}</p>
    <p><strong>language</strong>:{{ book.language }}</p>
    
    {% endfor %}
{% endblock %}